/*************************************************
*
*   Games Library
*   
*
*************************************************/

/*-----------------------------------------------
*  General Style
-----------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  background: #ebebeb;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  width: 100%;
}

a:link {
  text-decoration: none;
}
a:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
/*-----------------------------------------------
*  initialPage Style
-----------------------------------------------*/

.initialPage {
  align-items: center;
  display: flex;
  height: 75vh;
  justify-content: center;
  width: 100vw;
}

.initialPage > button {
  align-self: flex-end;
  border-radius: 50%;
  border: none;
  font-size: 1.2em;
  height: 100px;
  width: 100px;
}

button {
  font-family: "Rubik", sans-serif;
}

/*-----------------------------------------------
*  Nav
-----------------------------------------------*/

.nav ul li {
  display: inline;
}

.nav ul {
  list-style-type: none;
}

/*-----------------------------------------------
*  Amiibo Style
-----------------------------------------------*/

.amiibo {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 10px;
  padding: 16px;
  width: 320px;
}

.amiibo:hover,
.amiibo:active {
  box-shadow: 0 0 0 3px#747474;
}

.amiibo h2 {
  text-align: center;
  margin: 5px 0;
}

.amiibo ul,
.amiibo h4 {
  margin: 2px 0;
}

.amiibo__img {
  height: 300px;
  object-fit: contain;
  width: 250px;
}

.amiibo__info span {
  font-weight: 700;
}

.amiibo__info > ul > li {
  font-weight: 500;
  padding: 6px;
}

.amiibo__info__container__button {
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 10px;
  padding: 16px;
  width: 100%;
}

.amiibo__info__container__button--collect {
  background-color: #00b2ef;
}

.amiibo__info__container__button--wishlist {
  background-color: #1ba75c;
}

.amiibo__info__container__button--delete {
  background-color: #f9a51a;
}

.amiibo__info__container__button--collect:hover {
  background-color: #5080a0;
}

.amiibo__info__container__button--wishlist:hover {
  background-color: #25744a;
}

.amiibo__info__container__button--delete:hover {
  background-color: #da8b0d;
}

/*-----------------------------------------------
*  Media Queries
-----------------------------------------------*/

@media screen and (min-width: 20em) and (max-width: 40em) {
  h1 {
    font-size: 2em;
    line-height: 1.25em;
  }

  h2 {
    font-size: 1.625em;
    line-height: 1.15384615em;
  }

  label {
    display: block;
    cursor: pointer;
  }
}

@media screen and (min-width: 40.0625em) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125em;
  }

  h2 {
    font-size: 2em;
    line-height: 1.25em;
  }
}

@media screen and (min-width: 61.3125em) {
  h1 {
    font-size: 3em;
    line-height: 1.05em;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.25em;
  }

  p {
    max-width: 38em;
  }
  .wrapper {
    width: 45em;
    margin: 0 auto;
  }
}

@media screen and (min-width: 64em) {
  h2 {
    font-size: 2em;
    line-height: 1.25em;
  }
  .wrapper {
    width: 64em;
  }
}
